
body{ 
    overflow-y:hidden;          
	height: calc(100% - 50px);
}

*{margin:0; padding:0;}
.main-header nav.navbar {	
	background-color: #bcbcbc;
}

.main-header .navbar a.logo {
	max-width: 50%;
}

a {
	color: #FFF;
}
/*
a:hover {
	color: #ef6262;
}
a:focus {
	color: #ef6262;
}
a:active {
	color: #ef6262;
}
*/
.navbar-userinfo {
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	padding: 0 15px;
	font-weight: 300px;
	overflow: hidden;
	transition: width .3s ease-in-out;
	text-decoration: none;
}
.icon_bell{background-color: #fff;font-size: 24px;}
.main-header .sidebar-toggle:hover {
	color: inherit;
}
.main-header .sidebar-toggle:focus {
	color: inherit;
}
.main-header .sidebar-toggle:active {
	color: inherit;
}

.nav>li>a:hover {
	background: inherit;
	color: inherit;
}
.nav>li>a:focus {
	background: inherit;
	color: inherit;
}
.nav>li>a:active {
	background: inherit;
	color: inherit;
}

.main-sidebar{background-color: #444;}

.sidebar-open .main-sidebar {
	background: #222;
	z-index: 9999;
	/*color: #fff;*/
	padding-top: 0px !important;
	width: 100%;	
}

.main-sidebar .beez-sidebar-content {
	padding: 10px;
	margin-bottom: 30px!important;
	
}

.main-sidebar .beez-sidebar-content .user-name {
	color:#ef6262;
	font-size: 15px;
}

.main-sidebar .beez-sidebar-content .user-id {
	color:#ef6262;
	font-size: 13px;
}

.main-sidebar .user-panel .beez-logo-left {
	float: left;
}

.main-sidebar .user-panel .beez-logo-right {
	float: right;
}

.sidebar-menu-menus {
	min-width: 100%;
}
.sidebar-menu-wrapper, .sidebar-menu-container, .sidebar-menu-row {
	min-width: inherit;
}
.sidebar-menu-container {
	background: #efefef;
}
.sidebar-menu-row {
	height: 120px;
	border-bottom: 1px solid #fff;
	padding: 10px 40px;

}

.sidebar-menu-row .sidebar-row-header {
	font-size: 15px;
	line-height: 15px;
	color: #6b2255;
}
.sidebar-icon {
	display: inline-block;
	padding: 20px;
}
.sidebar-icon img {
	max-height: 50px !important;
	line-height: 50px;
}


.sidebar-open .main-sidebar span, .sidebar-open .main-sidebar a {
	color: inherit;}
.sidebar-open .main-sidebar .sidebar .user-panel.beez-logo { color:#ef6262; font-size: 30px;
	margin-bottom: 45px!important;
}