
.content-wrapper{width: 100%;background: #fff; position: relative;}
.content-wrapper>.content-header>.textbox {
	width:100%;
	height: 47%;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	padding: 60px 0px 10px 0px;
}


.content-wrapper>.bar_01 {
	width:100%;
	background: #ef6262;
	position: absolute;
	z-index: 0; 
	top: 50%;
	
	height: 40%;
}
.content-wrapper>.bar_02{
	width:100%;
	height: 40%;
	background: #444;
	position: absolute;
	z-index: 0;
	top: 75%;
}
.sub-img-container, .sub-icon-container, .m_t {
	display: inline-block;
}
.sub-img-container {
	height: 63px;
	margin-top: 57px;
	margin-left: 40px;
}
.sub-img-container img {
	height: 100%;
}
.sub-icon-container {
	height: 38px;
	float: right;
	margin-top: 65px;
	margin-right: 20px;
}
.sub-icon-container img {
	height: 100%;
}
.m_t {
	font-size: 38px;
	color: #FFF;
	vertical-align: top;
	margin-top: 63px;
	margin-left: 12px;
}

.content-header {
	background: #f8f8f8;
}

#t_box00 {
	font-size: 47px;
	font-family: NANUMSQUARE_R;
	font-weight: bold;
	margin-bottom: 10px;
}

#t_box01 {
	font-weight: bold;
	line-height: 30px;
}

#t_box02 {
	font-size: 14px;
	color: #888;
}
#t_box03 {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 40px;
	margin-top: 6px;
}
#t_box03 .time {
	color: #ef6262;
}
#t_box03 #canbook {
	
	margin: 0px;
}

#t_box03 .book-cancel-wrapper {
	display: inline-block;
	margin-left: 10px;
	border-bottom: 1px solid #333;
}
.qr-icon-wrapper, .kakao-icon-wrapper {
	height: 55px;
	display: inline-block;
	margin: 0px 5px;
	vertical-align: top;
}

.qr-icon-wrapper img, .kakao-icon-wrapper img {
	height: 100%;
}