body, html {
	background-color: #f8f8f8;
	overflow: hidden;
	width: 100%;
}

ul, ol, li {
	list-style: none;
}

.i_box {
	width: 100%;
	height: auto;
	padding: 40px 0px 25px 0px;
}

h2 {
	width: 100%;
	line-height: 24x;
	font-weight: bold;
	font-size: 24px;
	font-family: NANUMSQUARE_R;
	margin: 0px 0px 25px 0px;
	text-align: center;
	color: #000;
}
.icon-container {
	height: 150px;
	text-align: center;
}
.icon-container img {
	height: 100%;
}
.content-wrapper {
	width: 100%;
	height: 20%;
	background-color: #f8f8f8;
}

.icon_boc_i {
	width: 78px;
	height: 76px;
	background-image: url(/resources/images/icon_setting.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0;
	margin-left: 40%;
}

.content-wrapper>ul {
	width: 100%;
	height: auto;
	background: #f8f8f8;
}

.content-wrapper>ul li>div.title, li>a>div.title {
	display: inline-block;
	height: 45px;
	line-height: 15px;
	padding: 15px;
}


.content-wrapper>ul>.chec_1, .content-wrapper>ul>.chec, .content-wrapper>ul>.chec_2 {
	width: 100%;
	font-size: 15px;
	display: block;
	color: #666;
	margin-bottom: 2px;
	background-color: #FFF;
	
}


.btn btn-primary toggle-on {
	
}

.toggle.btn {
	margin-top: 10px;
	margin-right: 25px;
	
	border-radius: 20px;
	
	border-color: #999;
	float: right;
	min-width: 44px !important;
	width: 44px !important;
	
	min-height: 26px !important;
	height: 26px !important;
}
.toggle.btn.btn-primary {
	border-color: #ef6262;
}
.toggle-group .toggle-on {
	background-color: #ef6262;
}
.toggle-group .toggle-off {
	background-color: #999;
}
.toggle.btn .toggle-handle {
	border-radius: 20px;
	width: 48px;
}