@charset "UTF-8";

body.9f{background-image: url(../../img/9f_img.png);background-repeat: no-repeat; background-position: center; overflow-y:hidden; overflow-x:hidden;}
body.10f{background-image: url(../../img/10f_img.png);background-repeat: no-repeat; background-position: center; overflow-y:hidden; overflow-x:hidden;}
body.13f{background-image: url(../../img/13f_img.png);background-repeat: no-repeat; background-position: center; overflow-y:hidden; overflow-x:hidden;}
body.14f{background-image: url(../../img/14f_img.png);background-repeat: no-repeat; background-position: center; overflow-y:hidden; overflow-x:hidden;}

#Wrap {width: 1280px; height: 800px;}
#header{width: 1280px; height:100px; background-color:#ef6262;}
h1{width: 300px; height: 90px;font-size: 7rem; margin-left: 2rem; padding-top:10px; float: left;}
#gnb{width: 44rem; height: 100px; float: right; margin-right: 2rem;}
#gnb>ul{width: 50rem;height: 70px; float:right; padding-top: 30px;}
#gnb>ul>li{width: 8.2rem; height:5rem; float: left; margin-right: 4rem; font-size: 2.6rem; text-align: center; line-height: 5rem;}
/*#gnb>ul>li:last-child{ margin: 0;}*/
#gnb>ul>li>a{width: 100%; height: auto; display: block; background-image: url(../../img/floor_bt.png); background-repeat: no-repeat; background-position: center; line-height: 5rem; color:#444444;}
#all{width: 100%; height: 600px;  background-repeat: no-repeat; background-position: center; position: relative;}
/* background-image: url(../../img/all_bg.png); */

/*------------------------box1---------------------------*/
#all>.box1{width: 120px; height: 150px; position: absolute; z-index: 0; top:80px; left: 56px;}
#all>.box1>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 4px; margin-bottom: 3px;}
/*------------------------box2---------------------------*/
#all>.box2{width: 120px; height: 150px; position: absolute; z-index: 0; top:80px; left: 262px;}
#all>.box2>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 4px;  margin-bottom: 3px;}
/*------------------------box3---------------------------*/
#all>.box3{width: 120px; height: 150px; position: absolute; z-index: 0; top:80px; left: 470px;}
#all>.box3>ul>li{width: 46px;height: 30px;float: left; margin-right: 8px; margin-top: 4px;  margin-bottom: 3px;}
/*------------------------box4---------------------------*/
#all>.box4{width: 120px; height: 150px; position: absolute; z-index: 0; top:80px; left: 676px;}
#all>.box4>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 4px;  margin-bottom: 3px;}
/*------------------------box5---------------------------*/
#all>.box5{width: 120px; height: 150px; position: absolute; z-index: 0; top:80px; left: 881px;}
#all>.box5>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 4px;  margin-bottom: 3px;}
/*------------------------box6---------------------------*/
#all>.box6{width: 120px; height: 150px; position: absolute; z-index: 0; top:80px; left: 1088px;}
#all>.box6>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 4px;  margin-bottom: 3px;}
/*------------------------box7---------------------------*/
#all>.box7{width: 120px; height: 150px; position: absolute; z-index: 0; top:290px; left: 56px;}
#all>.box7>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 6px; margin-bottom: 4px;}
/*------------------------box8---------------------------*/
#all>.box8{width: 120px; height: 150px; position: absolute; z-index: 0; top:290px; left: 1088px;}
#all>.box8>ul>li{width: 46px;height: 30px; float: left; margin-right: 8px; margin-top: 4px;  margin-bottom: 4px;}
#all>.box8>ul>.lastbox:last-child{width: 46px;height: 30px; float: right; position: absolute; z-index: 0;top:0px;right: 13px;}




#ar_box{width: 1280px; height: 40px; position: absolute; z-index: 0; top:520px; background-image: url(../../img/sub1_al.png); background-repeat: no-repeat; background-position: center; }

