<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.sinc.beez.main.model.MainVO"
				alias="mainvo"
		/>
	

		<typeAlias type="com.sinc.beez.beacon.model.vo.BeaconOfficeDTO"
			alias="beaconoffice" />
		<typeAlias type="com.sinc.beez.nfcTagging.model.NfcDTO"
			alias="nfcdto" />
		<typeAlias type="com.sinc.beez.autoAttend.model.AutoAttDTO"
			alias="attdto" />


		<typeAlias type="com.sinc.beez.user.model.vo.UserVO" alias="user" />
		<typeAlias type="com.sinc.beez.att.model.vo.AttVO" alias="att" />

		<typeAlias type="com.sinc.beez.device.model.vo.DeviceVO"
			alias="device" />
		<typeAlias type="com.sinc.beez.beacon.model.vo.BeaconVO"
			alias="beacon" />


		<typeAlias type="com.sinc.beez.office.model.vo.OfficeVO" alias="office"/>
		<typeAlias type="com.sinc.beez.dept.model.vo.DeptVO" alias="dept"/>
		<typeAlias type="com.sinc.beez.seat.model.vo.SeatVO" alias="seat"/>
		
		<typeAlias type="com.sinc.beez.userseat.model.vo.UserSeatVO" alias="userseat"/>
	    	<typeAlias type="com.sinc.beez.tablet.model.dto.TabletDTO" 		alias="tabletdto"	/>
		
	</typeAliases>

</configuration>

