<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias type="com.sinc.beez.user.model.vo.UserVO" 			alias="user"		/>
		<typeAlias type="com.sinc.beez.tablet.model.vo.TabletVO" 		alias="tablet"		/>
		<typeAlias type="com.sinc.beez.seat.model.vo.SeatVO" 			alias="seat"		/>
		<typeAlias type="com.sinc.beez.userseat.model.vo.UserSeatVO" 	alias="userseat"	/>
	</typeAliases>

</configuration>