<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.beez.mapper.main">
	
	<select id="selectMain" parameterType="mainvo" resultType="mainvo">
		SELECT  ATT_ARRIVE_TIME
		FROM    USER_ATT_TB
		WHERE   (USER_ID = #{user_id}) AND ATT_DATE <![CDATA[>]]> TRUNC(SYSDATE)

	</select>
	
	<select id="selectinit" parameterType="syncdto" resultType="syncdto">
	SELECT *
	FROM
	(
		SELECT      	UA.USER_ID as userid , ATT_ARRIVE_TIME as atttime, BOOK_TIME as booking, SEAT_NFC_TAG_ID as seatid, ATT_DATE as today , att_leave_time as leave
		FROM            	USER_ATT_TB         UA
		LEFT    		JOIN    
		(
		    	SELECT  		USER_ID, SEAT_NFC_TAG_ID, BOOK_TIME, SEATED_DATE
		   	FROM    		USER_SEAT_TB        US
		    	JOIN            	SEAT_TB             ST
		    	ON      		(US.SEAT_ID = ST.SEAT_ID AND US.OFFICE_SEQ = ST.OFFICE_SEQ)
		)   	US
		ON      		(UA.USER_ID = US.USER_ID    AND     (TO_CHAR(ATT_DATE,'YYYY/MM/DD') = TO_CHAR(SEATED_DATE,'YYYY/MM/DD')))
		WHERE   		TO_CHAR(ATT_DATE,'YYYY/MM/DD') = TO_CHAR(SYSDATE,'YYYY/MM/DD')
		AND     		UA.USER_ID = #{userid}
	    ORDER BY UA.ATT_ARRIVE_TIME 
	)
	WHERE ROWNUM = 1
	
	
	</select>
	
	
	
	
	<!-- 
	<update id="keepLogin" parameterType="java.util.HashMap">
		UPDATE 	SPRING_USER_TBL
		SET		SESSIONKEY = #{sessionId}, SESSIONLIMIT = #{next}
		WHERE  	ID = #{id}
	</update>
	
	<select id="sessionKey" parameterType="java.lang.String" resultType="user">
		SELECT	ID, PWD, NAME, UPPOINT, SESSIONKEY, SESSIONLIMIT, IMGSRC
		FROM	SPRING_USER_TBL
		WHERE	SESSIONKEY = #{value} AND SESSIONLIMIT > SYSDATE
	</select>
	
	<update id="deleteSession" parameterType="java.util.HashMap">
		UPDATE 	SPRING_USER_TBL
		SET		SESSIONKEY = 'NONE', SESSIONLIMIT = SYSDATE
		WHERE  	SESSIONKEY = #{sessionId}
	</update>
	
	<insert id="signup" parameterType="user">
		INSERT 	INTO SPRING_USER_TBL (ID, PWD, NAME, IMGSRC)
		VALUES	(#{id}, #{pwd}, #{name}, #{imgSrc})
	</insert>
	-->
</mapper>
