<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinc.beez.mapper.seat">

	<select id="seatlist" parameterType="office" resultType="seat">
	    SELECT *  FROM LIST_SEATED_USER_VW
	</select>
	
	<select id="officelist" resultType="office">
	    SELECT *  FROM OFFICE_TB
	</select>
	
	<select id="seatlist_disabled" parameterType="office" resultType="int">
	    SELECT  SEAT_ID
		FROM    LIST_SEATED_USER_VW
		WHERE   office_seq = #{office_seq}
		AND     SEAT_USEABLE_STATE = 'N'
		AND		SEAT_REAL_LOCATION = #{section}
	</select>
	
	<select id="seat" parameterType="user" resultType="seat">
 		SELECT  S.SEAT_ID, S.OFFICE_SEQ, S.SEAT_REAL_LOCATION, U.SEATED_DATE, U.USER_ID
 		FROM    USER_SEAT_TB U
 		JOIN    SEAT_TB S ON (U.SEAT_ID = S.SEAT_ID AND U.OFFICE_SEQ = S.OFFICE_SEQ)
 		WHERE   (USER_ID = #{user_id}) AND (U.SEATED_DATE <![CDATA[>]]> TRUNC(SYSDATE)) AND (U.USER_LEAVE_YN = 'N')
 	</select>
	
	
	<select id="seatlist_inuse" parameterType="office" resultType="int">
	    SELECT  SEAT_ID
		FROM    LIST_SEATED_USER_VW
		WHERE   office_seq = #{office_seq}
		AND		SEAT_USEABLE_STATE = 'Y'
		AND     (USER_LEAVE_YN = 'N' OR USER_LEAVE_YN != NULL)
		AND		(SEATED_DATE <![CDATA[>]]> TRUNC(SYSDATE))
		AND		SEAT_REAL_LOCATION = #{section}
	</select>

	<select id="history" parameterType="java.util.HashMap" resultType="userseat">
		SELECT * FROM (
			SELECT ROWNUM rnum, H.* FROM (
				SELECT  SEAT_ID, OFFICE_SEQ, SEATED_DATE
				FROM    USER_SEAT_TB
				WHERE   USER_ID = #{user_id}
				ORDER BY SEATED_DATE DESC
			) H
			WHERE ROWNUM <![CDATA[<]]>= #{endRowNum}
		)
		WHERE rnum <![CDATA[>]]>= #{startRowNum}
		
	</select>
	
	
	<select id="historyDate" parameterType="java.util.HashMap" resultType="userseat">
		SELECT * FROM (
			SELECT ROWNUM rnum, H.* FROM (
				SELECT  SEAT_ID, OFFICE_SEQ, SEATED_DATE
				FROM    USER_SEAT_TB
				WHERE   (USER_ID = #{user_id})
				AND		(SEATED_DATE BETWEEN #{from} AND #{to})
				ORDER BY SEATED_DATE DESC
			) H
			WHERE ROWNUM <![CDATA[<]]>= #{endRowNum}
		)
		WHERE rnum <![CDATA[>]]>= #{startRowNum}
		
	</select>
	
	<select id="historyLoc" parameterType="java.util.HashMap" resultType="userseat">
		SELECT * FROM (
			SELECT ROWNUM rnum, H.* FROM (
				SELECT  US.SEAT_ID, US.OFFICE_SEQ, US.SEATED_DATE
				FROM    USER_SEAT_TB US
				JOIN    OFFICE_TB O ON (US.OFFICE_SEQ = O.OFFICE_SEQ)
				WHERE   (US.USER_ID = #{user_id})
				AND     ((O.BUILDING_NAME LIKE '%'||#{where}||'%') OR (O.FLOOR_NUM LIKE '%'||#{where}||'%'))
				ORDER BY US.SEATED_DATE DESC
			) H
			WHERE ROWNUM <![CDATA[<]]>= #{endRowNum}
		)
		WHERE rnum <![CDATA[>]]>= #{startRowNum}
		
	</select>
	
	<select id="cnt" parameterType="user" resultType="int">
		SELECT	COUNT(*) CNT
		FROM    USER_SEAT_TB
		WHERE   USER_ID = #{user_id}
	</select>
	
	<select id="office" parameterType="userseat" resultType="java.util.Map">
		SELECT  BUILDING_NAME, SEAT_REAL_LOCATION, FLOOR_NUM
		FROM    OFFICE_TB O
		JOIN    SEAT_TB S ON (O.OFFICE_SEQ = S.OFFICE_SEQ)
		WHERE   O.OFFICE_SEQ = #{office_seq} AND S.SEAT_ID = #{seat_id}
	</select>
	
	<select id="cntDate" parameterType="java.util.Map" resultType="int">
		SELECT	COUNT(*) CNT
		FROM    USER_SEAT_TB
		WHERE   (USER_ID = #{user_id})
		AND		(SEATED_DATE BETWEEN #{from} AND #{to})
	</select>
	
	<select id="cntLoc" parameterType="java.util.Map" resultType="int">
		SELECT	COUNT(*) CNT
		FROM    USER_SEAT_TB US
		JOIN    OFFICE_TB O ON (US.OFFICE_SEQ = O.OFFICE_SEQ)
		WHERE   (US.USER_ID = #{user_id})
		AND     ((O.BUILDING_NAME LIKE '%'||#{where}||'%') OR (O.FLOOR_NUM LIKE '%'||#{where}||'%'))
	</select>
	
	
	
	
	
	<select id="getMySeatTopFiveOfMonth" parameterType="user" resultType="java.util.Map">
		SELECT SEAT_NAME,  CNT, RK
		FROM
		(
		    SELECT SEAT_NAME, CNT, RANK() OVER(ORDER BY CNT DESC) AS RK
		    FROM
		    (
		        SELECT TTSEAT AS SEAT_NAME , COUNT(TTSEAT) AS CNT
		        FROM
		        (
		            SELECT  USER_ID, S.SEAT_NFC_TAG_ID TTSEAT
		            FROM    USER_SEAT_TB US
		            JOIN    SEAT_TB      S   ON(S.OFFICE_SEQ = US.OFFICE_SEQ AND S.SEAT_ID = US.SEAT_ID)
		            WHERE   USER_ID = #{user_id}
		            AND     TO_DATE(SEATED_DATE,'YYYY-MM-DD') <![CDATA[>]]>= TO_DATE(CURRENT_DATE,'YYYY-MM-DD') - 31
		        )
		        GROUP BY    TTSEAT
		        HAVING      COUNT(TTSEAT) <![CDATA[>]]> 1
		        ORDER BY    COUNT(TTSEAT) DESC
		    )
		)
		WHERE RK <![CDATA[<=]]>  5
	</select>
	<select id="getMySeatTopFiveOfYear" parameterType="user" resultType="java.util.Map">
		SELECT SEAT_NAME,  CNT, RK
		FROM
		(
		    SELECT SEAT_NAME, CNT, RANK() OVER(ORDER BY CNT DESC) AS RK
		    FROM
		    (
		        SELECT TTSEAT AS SEAT_NAME , COUNT(TTSEAT) AS CNT
		        FROM
		        (
		            SELECT  USER_ID, S.SEAT_NFC_TAG_ID TTSEAT
		            FROM    USER_SEAT_TB US
		            JOIN    SEAT_TB      S   ON(S.OFFICE_SEQ = US.OFFICE_SEQ AND S.SEAT_ID = US.SEAT_ID)
		            WHERE   USER_ID = #{user_id}
		            AND     TO_DATE(SEATED_DATE,'YYYY-MM-DD') <![CDATA[>]]>= TO_DATE(CURRENT_DATE,'YYYY-MM-DD') - 365
		        )
		        GROUP BY    TTSEAT
		        HAVING      COUNT(TTSEAT) <![CDATA[>]]> 1
		        ORDER BY    COUNT(TTSEAT) DESC
		    )
		)
		WHERE RK <![CDATA[<=]]>  5
	</select>
	
</mapper>

