<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinc.beez.mapper.seat">

	<select id="seatlist" parameterType="office" resultType="seat">
	    SELECT *  FROM LIST_SEATED_USER_VW
	</select>
	
	
	<select id="office" parameterType="office" resultType="office">
		select *
		from OFFICE_TB
	</select>
	
		
	<select id="seat" parameterType="user" resultType="seat">
		SELECT  S.SEAT_ID, S.OFFICE_SEQ, S.SEAT_REAL_LOCATION, U.SEATED_DATE, U.USER_ID
		FROM    USER_SEAT_TB U
		JOIN    SEAT_TB S on (U.SEAT_ID = S.SEAT_ID AND U.OFFICE_SEQ = S.OFFICE_SEQ)
		WHERE   (USER_ID = #{user_id}) AND (U.SEATED_DATE <![CDATA[>]]> TRUNC(SYSDATE)) AND (U.USER_LEAVE_YN = 'N')
	</select>
	
	
	<select id="history" parameterType="java.util.HashMap" resultType="userseat">
		SELECT * FROM (
			SELECT ROWNUM rnum, H.* FROM (
				SELECT  SEAT_ID, OFFICE_SEQ, SEATED_DATE
				FROM    USER_SEAT_TB
				WHERE   USER_ID = #{user_id}
				ORDER BY SEATED_DATE DESC
			) H
			WHERE ROWNUM <![CDATA[<]]>= #{endRowNum}
		)
		WHERE rnum <![CDATA[>]]>= #{startRowNum}
		
	</select>
	
	
	<select id="cnt" parameterType="user" resultType="int">
		SELECT	COUNT(*) CNT
		FROM    USER_SEAT_TB
		WHERE   USER_ID = #{user_id}
	</select>
	
</mapper>

