<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinc.beez.mapper.seat">

	<select id="seatlist" parameterType="office" resultType="seat">
	    SELECT *  FROM LIST_SEATED_USER_VW
	</select>
	

	<select id="history" parameterType="java.util.HashMap" resultType="userseat">
		SELECT * FROM (
			SELECT ROWNUM rnum, H.* FROM (
				SELECT  SEAT_ID, OFFICE_SEQ, SEATED_DATE
				FROM    USER_SEAT_TB
				WHERE   USER_ID = #{user_id}
				ORDER BY SEATED_DATE DESC
			) H
			WHERE ROWNUM <![CDATA[<]]>= #{endRowNum}
		)
		WHERE rnum <![CDATA[>]]>= #{startRowNum}
		
	</select>
	
	
	<select id="historyDate" parameterType="java.util.HashMap" resultType="userseat">
		SELECT * FROM (
			SELECT ROWNUM rnum, H.* FROM (
				SELECT  SEAT_ID, OFFICE_SEQ, SEATED_DATE
				FROM    USER_SEAT_TB
				WHERE   (USER_ID = #{user_id})
				AND		(SEATED_DATE BETWEEN #{from} AND #{to})
				ORDER BY SEATED_DATE DESC
			) H
			WHERE ROWNUM <![CDATA[<]]>= #{endRowNum}
		)
		WHERE rnum <![CDATA[>]]>= #{startRowNum}
		
	</select>
	
	<select id="cnt" parameterType="user" resultType="int">
		SELECT	COUNT(*) CNT
		FROM    USER_SEAT_TB
		WHERE   USER_ID = #{user_id}
	</select>
	
	<select id="office" parameterType="userseat" resultType="java.util.Map">
		SELECT  BUILDING_NAME, SEAT_REAL_LOCATION, FLOOR_NUM
		FROM    OFFICE_TB O
		JOIN    SEAT_TB S ON (O.OFFICE_SEQ = S.OFFICE_SEQ)
		WHERE   O.OFFICE_SEQ = #{office_seq} AND S.SEAT_ID = #{seat_id}
	</select>
	
	<select id="cntDate" parameterType="java.util.Map" resultType="int">
		SELECT	COUNT(*) CNT
		FROM    USER_SEAT_TB
		WHERE   (USER_ID = #{user_id})
		AND		(SEATED_DATE BETWEEN #{from} AND #{to})
	</select>
	
	
	
</mapper>

