<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.beez.mapper.user">

	<!-- <select id="login" parameterType="user" resultType="user">
		SELECT  USER_ID, DEPT_ID, USER_PWD, USER_NAME, SKEY_USE, PHONE_NUM, DUTY_NAME, LAST_ACCESS, FAIL_CNT
		FROM 	USER_TB
		WHERE	ID = #{id} AND PWD = #{pwd}
	</select>
	
	<update id="keepLogin" parameterType="java.util.HashMap">
		UPDATE 	USER_TBL 
		SET		SESSIONKEY 	 = #{sessionId},
				SESSIONLIMIT = #{next}
		WHERE   ID = #{id}
	</update>
	
	<update id="killLogin" parameterType="java.util.HashMap">
		UPDATE  USER_TBL
		SET		SESSIONLIMIT = #{next}
		WHERE	SESSIONKEY 	 = #{sessionId}
	</update>
	
	<insert id="joinUser" parameterType="user">
		INSERT  INTO USER_TBL (USER_ID, USER_PWD)
				VALUES(#{id}, #{pwd})
	</insert> -->
	
</mapper>
